.reservation {
 margin-bottom: 50px;
}

.reservation h1{
  letter-spacing: -1px;
  font-weight: 400;
  margin: 0 0 1rem;
  color: #555459;
}

.reservation hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #F0BF4C; /* old IE */
}
