<div class="modal fade" tabindex="-1" role="dialog" id="modal-confirm-slots<%= slot.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmez votre choix !</h4>
      </div>

        <% if slot.status == "Booked" %>

          <div class="modal-body">
            <p>Vous êtes sur le point d'annuler cette visite.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

            <%= simple_form_for [@flat, slot], url: flat_slot_slot_cancel_path(@flat, slot), method: :patch do |f| %>
              <%= f.submit "J'annule cette visite !", class: "btn btn-red" %>
            <% end %>

          </div>

       <!--  <#% else %>

          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-red" data-dismiss="modal"></button>
            <button type="button" class="btn btn-red" data-dismiss="modal"></button>
          </div> -->

        <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
