
  <div class="row">
    <div class="col-xs-12">
    </div>
    <div class="col-xs-12">
      <div id="datepicker-slots"></div>

      <div class="form-actions text-center">
      <% @flat.slots.each do |slot| %>
        <%= simple_form_for([@flat, slot], html:{ class: "hidden slot-form", "data-date" => slot.starts_at.strftime("%d/%m/%Y")}) do |f|%>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= slot.starts_at.strftime("%d/%m/%Y") %>
            <%= f.button :submit, "Séléctionner ce créneau", class:"btn btn-danger"%>
          </div>
      <% end %>

      </div>
    </div>
    <% end %>
  </div>
