
<div id="datepicker-slots"></div>
<% @flat.slots.each do |slot| %>
  <%= simple_form_for([@flat, slot], html:{ class: "hidden slot-form", "data-date" => slot.starts_at.strftime("%d/%m/%Y")}) do |f|%>
    <%= f.error_notification %>
    <% if slot.status == "Booked" %>
      <%= f.button :submit, slot.starts_at.strftime("%A at %H:%M | Déjà réservé"), disabled: true, class:"btn slot"%>
    <% else %>
      <%= f.button :submit, slot.starts_at.strftime("%A at %H:%M"), class:"btn slot"%>
    <% end %>
  <% end %>
<% end %>


