<% if document.@booking.flat.furnished %>
  <div class="container">
    <h2 class="highlight text-center">CONTRAT DE <%= document.@booking.flat.rental_type %> DE LOGEMENT MEUBLE</h2>
  </div>
<% else %>
<% end %>
