.main-footer {
    position: relative;
    z-index: 1;
    background: #083749;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    list-style: none;
    color: white;
    a {
      color: white;
    }
    a:hover {
      color: #FF696A;
    }
}

/* Footer right section */
.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
