.banner {
  color: white;
  text-align: center;
  height: calc(90vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 70px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: white;
  font-weight: 300;
}
