/* Call-to-action button */
.button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #FF696A;
  color: white;
  font-size: 14px;
  border: 2px solid #FF696A;
}
.button:hover {
  color: white;
  background: #e85c5c;
  border-color: #e85c5c;
}
