.btn-red {
  background-color: $red;
  color: white;
  opacity: 0.9;
}

.btn-red:hover {
  color:white;
  background-color: $red;
  opacity: 1;
  border: solid 1px #f75656;
}

.btn:focus {
  color: white;
}

.btn-toggle {
  background-color: white;
  border: solid 1px $red;
  color: $red;
  width: 150px !important;
  transition: 0.2s;
}
.btn-toggle:hover {
  opacity: 0.9;
  color: $red;
}

.btn-toggle-active {
  background-color: $red;
  border: solid 1px $red;
  color: white;
  width: 150px !important;
  transition: 0.2s;
}
.btn-toggle-active:hover {
  opacity: 0.9;
  color: white;
}
