.card-booking {
  height: 75px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: grey;
  color: white;
  position: relative;
}
.card-booking-user {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-booking-content {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-booking-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: blue;
  opacity: 0;
}
.card-booking-link:hover{
  opacity: 0.2;
}
