.card-booking {
  height: 90px;
  margin: 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: $grey;
  color: white;
  position: relative;
  .fa-star {
    color: $yellow;
  }
  .fa-star-half-o {
    color: $yellow;
  }
}
.card-booking-user {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-booking-content {
  position: absolute;
  top: 10px;
  left: 100px;
  font-size: 10px;
}
.card-booking-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: $blue;
  opacity: 0;
}
.card-booking:hover {
  background-color: $blue;
  cursor: pointer;
}
.card-booking-link:hover{
  opacity: 0.1;
}

