.card {
  background-color: white;
  margin-top: 30px;
  padding: 50px;
  border: solid 1px #ffe0e0;
}

// Booking card stylesheet
.card-booking {
  height: 75px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: grey;
  color: white;
  position: relative;
}
.card-booking-user {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-booking-content {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-booking-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: blue;
  opacity: 0;
}
.card-booking-link:hover{
  opacity: 0.2;
}

// Slot card stylesheet
.slot-card-vacant {
  height: 170px;
  background-color: #F7F7F7;
  margin: 5px;
}
.slot-card-booked {
  height: 170px;
  background-color: #F7F7F7;
  margin: 5px;
}

