.form-devise {
  background-color: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  a {
    color: #FF696A;
    text-decoration: none;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-flat {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  a {
    color: #FF696A;
    text-decoration: none;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
  textarea {
    height: 120px !important;
  }
}

// New flat form
#flat_rental_type, #flat_address {
  height: 50px;
}
.checkbox {
  margin: 0px !important;
  label {
    padding-left: 15px !important;
  }
}

// Flat form choices
.flat-form-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
  .checkbox {
    margin: 0px;
  }
}
.flat-form-choice {
  margin-bottom: 20px !important;
  height: 50px;
  width: 120px;
  padding: 15px;
  flex: 0 0 25%;
  background: #b7b7b7;
  border-radius: 5px;
  opacity: 0.5;
  transition: 0.3s;
  text-align: center;
  &:hover {
    opacity: 1;
  }
  &.active {
    background: #FF696A;
    color: white;
    opacity: 1;
  }
}

// Flat radio
.flat-radio-buttons {
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
  .checkbox {
    margin: 0px;
  }
}
.flat-radio-button {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  height: 50px;
  width: 60px;
  flex: 0 0 1/8;
  background: #b7b7b7;
  border-radius: 5px;
  opacity: 0.5;
  transition: 0.3s;
  label {
    height: 50px;
    padding: 15px;
  }
  &:hover {
    opacity: 1;
  }
  &.active {
    background: #FF696A;
    color: white;
    opacity: 1;
  }
}

// Attachinary
.attachinary_container > ul {
  list-style: none;
  li {
    padding: 15px;
    text-align: center;
    img {
      margin-right: 20px;
    }
  }
}

// Visits form
#slot_availability_length {
  width: 60px;
  text-align: right;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #FF696A;
}

#label_slot_availability_length {
    font-weight: normal !important;
  }

#slot_length {
  width: 60px;
  text-align: right;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #FF696A;
}

#label_slot_length {
    font-weight: normal !important;
  }
